/[Aa]ssets/SerializedUdonPrograms/
/[Aa]ssets/SerializedUdonPrograms.meta
/[Aa]ssets/Scenes/
/[Aa]ssets/Scenes.meta
/[Aa]ssets/XR/
/[Aa]ssets/XR.meta
/[Ll]ibrary/
/[Ll]ogs/
/obj/
/[Tt]emp/
/[Uu]ser[Ss]ettings/
/*.csproj
/*.sln
